header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  height: 80px;

  * {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  button {
    color: #fff;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    z-index: 36;
    &:hover {
      cursor: pointer;
      color: rgb(34, 240, 255);
    }
  }

  h1 {
    margin-left: 32px;
    font-family: "Varela Round", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    max-height: 1.5rem;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 7px #fff,
      0 0 14px rgb(34, 240, 255), 0 0 28px rgb(34, 240, 255),
      0 0 32px rgb(34, 240, 255), 0 0 36px rgb(34, 240, 255),
      0 0 48px rgb(34, 240, 255);

    &:hover {
      cursor: pointer;
    }
  }

  .right-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    .search-container {
      position: relative;
      input {
        border-radius: 4px;
        width: 200px;
        outline: none;
        border: 1px rgb(124, 124, 124) solid;
        height: 32px;
        padding: 0.5rem 0.7rem;
        color: #fff;
        background-color: rgb(33, 33, 33);
      }

      input,
      textarea {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }

      .search-results {
        position: absolute;
        right: 0;
        width: 350px;
        background-color: #fff;
        z-index: 27;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: -5px 5px 15px #333;

        .search-item {
          height: 50px;
          border-bottom: 1px solid rgb(196, 196, 196);
          display: flex;
          align-items: center;

          justify-content: space-between;
          padding: 0.5rem;
          margin: 0 0.5rem 0 0.5rem;
          .result-name {
            flex: 0.6;
          }
          .result-ticker {
            color: #277583;
            flex: 0.2;
          }
          .result-price {
            flex: 0.2;
          }

          &:hover {
            cursor: pointer;
            background-color: rgb(226, 253, 253);
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
    }
    .header-item {
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    h1 {
      margin-left: 5px;
      font-size: 1.2rem;
    }
    .right-wrapper {
      margin: 0;
      .search-container {
        width: 100px;
        input {
          width: 100% !important;
        }
        .search-results {
          width: 100%;
        }
      }
      .hamburger-menu {
        display: block;
        margin-left: 0.5rem;
      }
      .header-item {
        display: none;
      }
    }
  }
}
